<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Enigma Cyber Game for K-12 Education</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="../static/jquery-3.3.1.min.js"></script>
    <style media="screen">
      .container {
    position: relative;
    text-align: center;
    color: white;
    background-color: #010101;
    width: 100%;
    }
    body {
      background-color: black;
    }
    .link{
      margin:10px auto;
      background-color: #aa8700;
      border: none;
      border-radius: 5px;
      width: 200px;
      line-height: 37px;
      display: block;
      font-size: 20px;
  }
    </style>
  </head>
  <body>
    <div class="container">
      <img src="../static/toBeContinued.jpg" alt="to be continued" width="68%">
      <!-- <a href="#"></a> -->
      <!-- <a href="enigma/templates/Page1.html">

      </a> -->
    </div>
    <div class="container">
      <button class="link">Return to Start</button>
    </div>
    <script>
    $('.link').click(function(){
        window.location.replace("/");
    });
    </script>
  </body>
</html>
