<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Enigma Cyber Game for K-12 Education</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="../static/jquery-3.3.1.min.js"></script>
    <style media="screen">
      .container {
    position: relative;
    text-align: center;
    color: white;
    background-color: #010101;
    }
    .container > a > img {
      height:660px;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <a href="page1">
        <img src="../static/indexScreen2.png" alt="start screen">
      </a>
    </div>
  </body>
</html>
